<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448037027486-ojcdfvpq002mvu9q346cgabs1o4mh5c2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448037027486-ojcdfvpq002mvu9q346cgabs1o4mh5c2</string>
	<key>API_KEY</key>
	<string>AIzaSyB_ytZJBX6ktS6YrLEgQQhopOMlAs6nxgI</string>
	<key>GCM_SENDER_ID</key>
	<string>448037027486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goutApp</string>
	<key>PROJECT_ID</key>
	<string>gout-ef320</string>
	<key>STORAGE_BUCKET</key>
	<string>gout-ef320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448037027486:ios:e9af2e5aba7a26dd63c58f</string>
</dict>
</plist>