<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643377509802-7qbjrnpqmi1m7k24igkflaibfhsq1tk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643377509802-7qbjrnpqmi1m7k24igkflaibfhsq1tk1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643377509802-2ss0grn7l6t3seeiplkig54t5do3rgdt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCIyrvr2aWabKF8jeCLiwVIU3R-dAcHhPc</string>
	<key>GCM_SENDER_ID</key>
	<string>643377509802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goutApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gout-app-1c271</string>
	<key>STORAGE_BUCKET</key>
	<string>gout-app-1c271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643377509802:ios:f05d3b40693d5c750367d3</string>
</dict>
</plist>